body {
  background-image: url("./images/background.png");
}

.container {
  border-style: double;
  border-width: medium; 
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}

#image_cat {
  background-image: url("./images/cathy.png");
  height: 64px;
  width: 64px;
}

#image_cat:hover {
  background-image: url("./images/cathy_cool.png");
}

#navigate {
  margin: 0% 0%
}

.activated {
  background-color:#87b1c9;
  color:white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(134, 192, 192);
}

li {
  float: left;
}

li a {
  display: block;
  color: #4F1103;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: ridge coral;
}

li a:hover:not(.activated) {
  background-color:crimson;
}

#bird_page div.gallery {
  border: 1px solid #ccc;
}
#bird_page div.gallery img {
  width: 100%;
  height: auto;
}

#bird_page div.desc {
  padding: 15px 15px 60px;
  text-align: center;
}

#bird_page * {
  box-sizing: border-box;
}

#bird_page .responsive {
  text-align: center;
  padding: 0 7px;
  float: left;
  width: 50%;
}