body {
  background-image: url("./images/background.png");
}

.container {
  border-style: double;
  border-width: medium; 
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

#image_cat {
  background-image: url("./images/cathy.png");
  height: 64px;
  width: 64px;
}

#image_cat:hover {
  background-image: url("./images/cathy_cool.png");
}

#navigate {
  margin: 0% 0%
}

.activated {
  background-color:#87b1c9;
  color:white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navigate ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(134, 192, 192);
}

#navigate li {
  float: left;
}

#navigate li a {
  display: block;
  color: #4F1103;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: ridge coral;
}

#navigate li a:hover:not(.activated) {
  background-color:crimson;
}

#visitor_counter h3{
  text-align: center;
  margin: 100px 0px 0px;
}

#bird_page #bird_gallery {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

#bird_page .bird_image {
  padding: 3px;
  /* border: ridge black; */
  background-color: white;
}

#bird_page div.bird_image img {
  width: 100%;
  height: auto;
}

#bird_page div.desc {
  padding: 15px 15px;
  text-align: center;
}

#bird_page * {
  box-sizing: border-box;
}

#bird_page .responsive {
  text-align: center;
  padding: 0 7px;
}